<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/template.js" defer></script>
    <title>Template</title>
</head>
<body>
    <h1>OpenWeatherMap.org API Test</h1>
<main>
  <p>The current temperature in Trier, Germany is <span id="current-temp"></span>&deg;F</p>
  <figure>
    <img id="weather-icon" src=" https://openweathermap.org/img/wn/10d@2x.png" alt="">
    <figcaption></figcaption>
  </figure>
</main>
<footer>
  Mei Sakae | OpenWeatherMap.org | CC BY-SA 4.0
</footer>
</body>
</html>