@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        margin: 0 auto;
        padding: 0;
    }
    header {
        grid-template-columns: 24px auto;
    }
.hamburger {
    display: none;
}
.navigation {
    display: block;
    border-bottom: solid 1px #ddd;
}
.navigation ul {
    display: flex;
}
.navigation a {
    border: none;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}
.base {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    gap: 2rem;
}
.grid-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: #f2f2f2;
    color: black;
}
.social {
    text-align: center;
}
.social img {
    width: 24px;
    height: 24px;
    margin: 0.5rem;
    margin-top: 50px;
}

#spotlights {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
}

.spotlight {
    background-color: white;
    border: 2px solid green;
    border-radius: 1rem;
    box-shadow: 0 3px 8px #888585;
    padding: 2rem;
    margin: rem;
    width: 350px;
    height: auto;
    text-align: center;
}
.spotlight:hover {
    transform: scale(1.03);
}
.spotlight img {
    width: 100%;
    border-radius: 0.3rem;
}
.spotlight a {
    display: inline-block;
    margin-top: 0.5rem;
}
}